body {
    background-color: beige;
    color: maroon;
    font-family: Arial;
    margin: 0px;
}

header {
    background-color:rgb(92, 84, 79);
    color: white;
    padding: 20px;
    text-align: center;
    font-family: Georgia;
    font-size: 14px;
}

main {
    color: rgb(54, 52, 52);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 10px 20px 72px;
}

footer {
    background-color:rgb(92, 84, 79);
    color: white;
    padding: 20px;
    text-align: right;
    font-family: Georgia;
    font-size: 14px;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
}

a {
    color: #444749;
    text-decoration: none;
    transition: 1s 2s;
}

a:link {
    color: #3c3b2f;
    text-decoration: none;
    font-weight: bold;
}

a:visited {
    color: #3c3b2f;
    text-decoration: none;
}

a:hover {
    color: rgb(232, 221, 221);
    text-decoration: underline;
    background: rgba(76, 68, 68, 0.5);
    transition: 0.3s;
}

a:active {
    color: black;
    opacity: 0.3;
}

div.menu {
    border: 7px solid #00880080;
    border-radius: 10px;
    width: 300px;
    margin: 0 auto;
    background-color: rgb(240, 223, 223);
    box-shadow: 0 4px 15px rgba(55, 45, 45, 0.5);
    padding: 20px;
    transition: background-color 0.3s, transform 0.3s;
}

div.menu:hover {
    background-color: #ffffffa9;
    box-shadow: 0 0 15px #00000030;
}
